{% extends "end/layout.html" %}
{% block body %}
    <h1>[: Details [:</h1>
    <h1>>_></h1>
    <h2>bus:{{bus.id}}</h2>
    <h3>From:{{ bus.boarding}}</h3>
    <h3>to:{{ bus.destination}}</h3>
    <h3>totaltime:{{bus.duration}}</h3>
    <h3>Total seats : {{bus.seats}}</h3>
    <h3>available seats :{{bus.availableseats}}</h3>
    <div>
        <h2>
            <a href="{% url 'home' %}">view busses</a>
        </h2>
    </div>
    <form method="post">
        {% csrf_token %}
        <label for="seats">Number of Seats:</label>
        <input type="number" id="seats" name="bookseats" min="1" max="{{ bus.availableseats }}" required>
        <button type="submit">Book</button>
        
    </form>


    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

{% endblock %}


