{% extends "busses/layot.html" %}
{% block body %}
    <h1>details</h1>
    <h1>  >__></h1>
        <li><h2> bus #{{buss.id}}</h2></li>
        <li>boarding point:{{buss.origin}}</li>
        <li>last stop :{{buss.destination}}</li>
        <li>travel time:{{buss.duration}}</li>


    </ul>
    <ol>
        {% if pass %}
            {% for i in Pass %}
                <li>{{ i }}</li>
            {% endfor %}
        {% else %}
            <li> no passanger</li>
        {% endif %}
    </ol>
    <a href="{% url 'index' %}">View busses</a>

{% endblock %}